body {
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding-left: 8%;
    padding-right: 2%;
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    
}

.nav-logo {
    position: sticky;   
    padding: 3px;
    margin: 0.5rem;

}
.navbar {
    float: right; 
    margin-right: 2rem;
    padding-top: 2rem;
    font-size:18px;
    font-weight: bold;
    background-attachment: scroll;   
   
}

.tuitt-button {
    background-color: #c2195b;
    color: white; 
    padding: 0.5em 1em;
    border-radius: 25px;
    border: 0;
    display: inline;
}



#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    margin-top: 2rem;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;
    z-index: 2;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.container {
    min-height: 50vh;
    display: inline-block;
}

.apply-button {
    background-color: #c2195b;
    color: white;
     padding: 0.5em 1em;
    border-radius: 20px;
    border: 0;
    display: inline;
    float: right;
    font-size: 1rem;
    margin-right: 4rem;
}

.title{
    font-family: 'Zilla Slab';
    display: inline;
    float: right;
    font-size: 2rem;
    margin-right: 1.5rem;
    margin-left: 70%;
}

.subtitle {
    display: inline;
    float: right;
    font-size: 1rem;
    margin-right: 3rem;
    margin-left: 70%;
    margin-top: 10px;
}
.title-2 {
    text-align: center;
    margin-top: 5rem;

}
.intro-description {
    text-align: center;
    margin-right: 20rem;
    margin-left: 20rem;
}
.prefooter-description {
    text-align: center;
    margin-right: 20rem;
    margin-left: 20rem;
}
.book-button {
    background-color: #336589;
    color: white;
    padding: 0.5em 1em;
    border-radius: 20px;
    border: 0;
    display: inline;
    font-size: 1rem;
    margin-left: 62rem;
    margin-top: 5rem;
    position: absolute;  
    transform: translate(-50, -50);
}
footer{
    margin-top: 15rem;
    font-size: 80%;
    text-align: center;
}

/*
display: inline-block;
    position: sticky;
    float: right; 
    position: sticky;
    margin-right: 4rem;
    margin-top: 0.2rem;
    font-size:18px;
    font-weight: bold;
    background-attachment: scroll;
*/